* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 3px rgba(0, 0, 0, 0.5);
    padding: 30px 100px;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer {
    background-color: #333333;
    padding: 20px 0;
    text-align: center;
    color: #d6edfb;
    font-size: 18px;
    font-weight: 500;
}

.size-change-div {
    position: absolute;
    width: 520px;
    height: 520px;
    top: 184px;
    background-color: #fff;
}

.btn {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #56c107;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.left-menu>div {
    display: flex;
    column-gap: 100px;
}

.links {
    font-size: 18px;
    text-transform: uppercase;
    color: #4c7792;
    font-weight: 700;
}

.div-links {
    align-items: center;
    display: flex;
    column-gap: 50px;
}

.canvas {
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(181deg, #bfe5f5 0%, #c6eee8 100%);
    padding-top: 46px;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f9fb;
}

.settings-block {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.05);
    padding: 50px 33px;
}

.size-fixed {
    padding-top: 20px;
    display: flex;
    column-gap: 20px;
    margin-bottom: 50px;
}

.size-fixed input[type="radio"] {
    appearance: none;
    margin: 0;
    border: 2px solid #4c7792;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    transition: all .5s ease;
}

.size-fixed span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #4c7792;
    font-weight: 500;
    font-family: "Open Sans";
    text-align: center;
    transition: all .5s ease;
}

.size-fixed input[type="radio"]:checked {
    border-color: #56c107;
}

.size-fixed input[type="radio"]:checked+span {
    color: #56c107;
}

.size-fixed>label {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 100px;
}

.size-btn {
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #d6edfb;
    font-size: 18px;
    text-transform: uppercase;
    color: #4c7792;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
}

.size-user {
    display: flex;
    align-items: center;
    column-gap: 20px;
    position: relative;
}

.size-user p {
    position: absolute;
    top: -30px;
}

.size-user input {
    padding: 10px 15px;
    color: #4c7792;
    font-weight: 500;
    border-radius: 7px;
    font-size: 20px;
    border: 2px solid #4c7792;
}

.cross {
    font-size: 24px;
    color: #4c7792;
    font-weight: 500;
    font-family: "Open Sans";
    text-align: center;
}

hr {
    margin: 40px 0;
    height: 1px;
    background-color: #7c9bac;
    border: none;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options label {
    display: flex;
    column-gap: 21px;
    margin-bottom: 8px;
}

.options input {
    width: 20px;
    height: 30px;
}

.options span {
    font-size: 18px;
    color: #4c7792;
    font-weight: 700;
    font-family: "Open Sans";
}


.options label {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    margin-bottom: 15px;
}

.options label input {
    appearance: none;
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border: 3px solid #4c7792;
    border-radius: 5px;
    background-color: white;
    display: grid;
    place-content: center;
    transition: 0.2s;
    flex-shrink: 0;
}

.options label input:checked {
    background-color: #4c7792;
}

.options label input::before {
    content: "";
    width: 15px;
    height: 15px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em white;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.options label input:checked::before {
    transform: scale(1);
}

.h1-add {
    margin-bottom: 31px;
}

.options p {
    font-size: 18px;
    padding-bottom: 18px;
    color: #333333;
    font-weight: 500;
}

.options p:last-child {
    padding-bottom: 15px;
}

.buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 22px 0 0;
    background-color: #d6edfb79;
}

.buy-btn {
    display: block;
    padding: 25px 55px;
    border-radius: 10px;
    background-color: #56c107;
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.buy p {
    display: flex;
    align-items: center;
    column-gap: 30px;
    font-size: 18px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    text-align: center;
}

.buy span {
    /* font-size: 48px; */
    color: #56c107;
    text-align: center;
}

.hrn {
    text-transform: lowercase;
    font-weight: 300;
    font-size: 30px;
}

.sum {
    font-size: 48px;
    color: #56c107;
    font-weight: 700;
    text-align: center;
}